* {
    font-family: Poppins, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #dedede !important;
    position: relative;
    margin: 0;
}

#root {
    height: 100%;
    width: 100%;
}
